presets:
	- nette

rules:
	strict-comparison: true
	final-internal-class: true
	ternary-for-simple-branch: true

fixRisky:
	- strict-call
	- modern-class-name-reference
	- strict-types-required
	- strict-comparison
	- final-internal-class
	- no-trailing-whitespace-in-string
	- explicit-assertion
	- increment-operator

paths:
	- src
	- tests
	- bin/dresscode
	- docs/reference/generate.php

excludePaths:
	- fixtures
	- tests/corpus

fileExtensions:
	- php
	- phpt

overrides:
	- paths: [src]
	  presets: [optimizations]
	  nameResolution: certain
