presets:
	- nette

paths:
	- src
	- tests
	- bin/dresscode
	- docs/reference/generate.php

excludePaths:
	- fixtures
	- tests/corpus

fileExtensions:
	- php
	- phpt

overrides:
	- paths: [src]
	  groups: [optimized-calls]
	  rules:
	  	name-fallback: {optimizedFunctions: qualified, optimizedConstants: qualified}
	  nameResolution: certain
