presets:
	- nette

groups:
	- modernization
	- deprecations

rules:
	groupImport: {minImports: 2}
	overrideAttributeRequired: keep

types: phpstan

paths:
	- src
	- tests
	- bin/dresscode
	- docs/reference/generate.php

excludePaths:
	- fixtures
	- tests/corpus

fileExtensions:
	- php
	- phpt

overrides:
	- paths: [src]
	  groups: [optimizedCalls]
	  nameResolution: certain
	  rules:
	  	nameFallback: {optimizedFunction: qualified, optimizedConstant: qualified}

	- paths: [src/Analyses/PhpSymbolsData.php]
	  rules:
	  	classNameReferenceForString: keep
